body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    line-height: 1.6;
    color: #333333;
    background-color: #fafafa;
}

nav {
    text-align: center;
    margin-bottom: 60px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.hero {
    text-align: center;
    margin-bottom: 80px;
}

h1 {
    font-size: 52px;
    margin-bottom: 10px;
}



h2 {
    font-size: 30px;
    margin-top: 50px;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 8px;
}

p {
    font-size: 20px;
}

.interests {
    color: #666666;
    font-size: 18px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 22px;
    background-color: #333333;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

li {
    font-size: 18px;
    margin-bottom: 8px;
}

.image-ribbon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.image-ribbon img {
    width: 19%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 16px;
}